server {
    listen 80;
    server_name {{ domain }};
    server_tokens off;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name {{ domain }};
    server_tokens off;

    ssl_certificate /etc/letsencrypt/live/{{ primary_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ primary_domain }}/privkey.pem;
    include /etc/letsencrypt/conf/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/conf/ssl-dhparams.pem;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}

