#
# Bacula Director Configuration file
#

Director {
  Name = {{ nas_bacula_dir_fqdn }}
  DIRport = 9101
  QueryFile = "/opt/bacula/scripts/query.sql"
  WorkingDirectory = "/opt/bacula/working"
  PidDirectory = "/opt/bacula/working"
  Maximum Concurrent Jobs = 20
  Password = "{{ nas_bacula_console_password }}"
  Messages = Daemon

  # TLS configuration directives
  TLS Enable = yes
  TLS Require = yes
  TLS Certificate = /opt/bacula/etc/certs/{{ nas_bacula_dir_fqdn }}.pem
  TLS Key = /opt/bacula/etc/certs/{{ nas_bacula_dir_fqdn }}.key
  TLS Verify Peer = yes
  TLS CA Certificate File = /opt/bacula/etc/certs/root_intermediate.pem
}

FileSet {
  Name = "Linux Laptop"
  Include {
    Options {
      signature = MD5
    }
    File = /home
    File = /var/log
  }
}

FileSet {
  Name = "Windows Desktop"
  Include {
    File = "c:/Users"
  }
}

# When to do the backups, full backup on first sunday of the month,
#  differential (i.e. incremental since full) every other sunday,
#  and incremental backups other days
Schedule {
  Name = "WeeklyCycle"
  Run = Full 1st sun at 23:05
  Run = Differential 2nd-5th sun at 23:05
  Run = Incremental mon-sat at 23:05
}

Catalog {
  Name = BaculaCatalog
  password = "{{ nas_bacula_postgres_password }}"
  DB Name = bacula
  user = bacula
  DB Address = postgresql
  DB Port = 5432
}

# Reasonable message delivery -- send most everything to email address
#  and to the console
Messages {
  Name = Standard
#
# NOTE! If you send to two email or more email addresses, you will need
#  to replace the %r in the from field (-f part) with a single valid
#  email address in both the mailcommand and the operatorcommand.
#  What this does is, it sets the email address that emails would display
#  in the FROM field, which is by default the same email as they're being
#  sent to.  However, if you send email to more than one address, then
#  you'll have to set the FROM address manually, to a single address.
#  for example, a 'no-reply@mydomain.com', is better since that tends to
#  tell (most) people that its coming from an automated source.

#
  mailcommand = "/opt/bacula/bin/bsmtp -h localhost -f \"\(Bacula\) \<%r\>\" -s \"Bacula: %t %e of %c %l\" %r"
  operatorcommand = "/opt/bacula/bin/bsmtp -h localhost -f \"\(Bacula\) \<%r\>\" -s \"Bacula: Intervention needed for %j\" %r"
  mail = root = all, !skipped
  operator = root = mount
  console = all, !skipped, !saved
#
# WARNING! the following will create a file that you must cycle from
#          time to time as it will grow indefinitely. However, it will
#          also keep all your messages if they scroll off the console.
#
  append = "/opt/bacula/log/bacula.log" = all, !skipped
  catalog = all
}


#
# Message delivery for daemon messages (no job).
Messages {
  Name = Daemon
  mailcommand = "/opt/bacula/bin/bsmtp -h localhost -f \"\(Bacula\) \<%r\>\" -s \"Bacula daemon message\" %r"
  mail = root = all, !skipped
  console = all, !skipped, !saved
  append = "/opt/bacula/log/bacula.log" = all, !skipped
}

# File Pool definition
Pool {
  Name = File
  Pool Type = Backup
  Recycle = yes                       # Bacula can automatically recycle Volumes
  AutoPrune = yes                     # Prune expired volumes
  Volume Retention = 365 days         # one year
  Maximum Volume Bytes = 50G          # Limit Volume size to something reasonable
  Maximum Volumes = 15               # Limit number of Volumes in Pool
  Label Format = "Vol-"               # Auto label
}

Storage {
  Name = File1
  Address = "{{ nas_bacula_sd_fqdn }}"
  Password = "{{ nas_bacula_dir_sd_password }}"
  Device = FileChgr1-Dev1
  Media Type = File1
  Maximum Concurrent Jobs = 5

  # TLS configuration directives
  TLS Enable = yes
  TLS Require = yes
  TLS Certificate = /opt/bacula/etc/certs/{{ nas_bacula_dir_fqdn }}.pem
  TLS Key = /opt/bacula/etc/certs/{{ nas_bacula_dir_fqdn }}.key
  TLS CA Certificate File = /opt/bacula/etc/certs/root_intermediate.pem
}

#https://www.bacula.org/en/dev-manual/main/main/Customizing_Configuration_F.html
@|"sh -c 'for f in /opt/bacula/etc/clientdefs/*.conf ; do echo @${f} ; done'"
