# Don't capture the ansible.cfg; let the user override it
/ansible.cfg
# Or the .env.yml for Molecule
/.env.yml

# https://chronicler.tech/my-gitignore-for-ansible-projects/
# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~

# Include the certificates directory (for Let's Encrypt on the control node) 
/acme-certificates/*
!/acme-certificates/.keep
