---
# This is an auxiliary vars file which just contains all of the Access Control
# List (ACL) entries for the DreamCompute settings.

dreamhost_security_group_rules:
  - description: Inbound SSH from the Ansible Control Node IPv4
    direction: ingress
    ether_type: IPv4
    port_range_min: 22
    port_range_max: 22
    protocol: tcp
    remote_ip_prefix: "{{ hostvars['localhost']['ansible_control_node_external_ipv4'] }}/32"

  - description: Kubernetes API service from the Ansible Control Node IPv4
    direction: ingress
    ether_type: IPv4
    port_range_min: 6443
    port_range_max: 6443
    protocol: tcp
    remote_ip_prefix: "{{ hostvars['localhost']['ansible_control_node_external_ipv4'] }}/32"

  - description: Inter-node SSH from the private network
    direction: ingress
    ether_type: IPv4
    port_range_min: 22
    port_range_max: 22
    protocol: tcp
    remote_ip_prefix: "{{ dreamhost_network_private_range }}"

  # https://docs.redhat.com/en/documentation/red_hat_enterprise_linux/7/html/high_availability_add-on_reference/s1-firewalls-haar
  - description: pcsd between nodes from private network
    direction: ingress
    ether_type: IPv4
    port_range_min: 2224
    port_range_max: 2224
    protocol: tcp
    remote_ip_prefix: "{{ dreamhost_network_private_range }}"

  - description: corosync between nodes from private network
    direction: ingress
    ether_type: IPv4
    port_range_min: 4505
    port_range_max: 4505
    protocol: udp
    remote_ip_prefix: "{{ dreamhost_network_private_range }}"

  - description: Kubernetes API service from the private network
    direction: ingress
    ether_type: IPv4
    port_range_min: 6443
    port_range_max: 6443
    protocol: tcp
    remote_ip_prefix: "{{ dreamhost_network_private_range }}"

  - description: "Kubelet API service from the private network"
    direction: ingress
    ether_type: IPv4
    port_range_min: 10250
    port_range_max: 10250
    protocol: tcp
    remote_ip_prefix: "{{ dreamhost_network_private_range }}"

  - description: Inbound ICMP4 (ping and friends)
    direction: ingress
    ether_type: IPv4
    protocol: icmp

  - description: Inbound ICMP6 (ping and friends)
    direction: ingress
    ether_type: IPv6
    protocol: icmpv6

  - description: Egress IPv4 (no restriction)
    direction: egress
    ether_type: IPv4
    protocol: any

  - description: Egress IPv4 (no restriction)
    direction: egress
    ether_type: IPv6
    protocol: any
