---
# This is an auxiliary vars file which just contains all of the Access Control
# List (ACL) entries for the DreamCompute settings.

dreamhost_security_group_rules:
  - description: "HTTP from the public Internet"
    direction: ingress
    ether_type: IPv4
    port_range_min: 80
    port_range_max: 80
    protocol: tcp
    remote_ip_prefix: "0.0.0.0/0"

  - description: "HTTPS from the public Internet"
    direction: ingress
    ether_type: IPv4
    port_range_min: 443
    port_range_max: 443
    protocol: tcp
    remote_ip_prefix: "0.0.0.0/0"

  - description: IPv4 between Nodes (no restriction)
    direction: ingress
    ether_type: IPv4
    remote_ip_prefix: "{{ dreamhost_network_private_range }}"

  - description: Inbound ICMP4 (ping and friends)
    direction: ingress
    ether_type: IPv4
    protocol: icmp

  - description: Egress IPv4 (no restriction)
    direction: egress
    ether_type: IPv4
    protocol: any
