---
# Basic Debian tasks, including patching

- name: Update all repositories
  ansible.builtin.apt:
    update_cache: true

- name: Install nonstandard packages
  ansible.builtin.package:
    name:
      - cryptsetup
      - cryptsetup-initramfs
      - dosfstools
      - dpkg-dev
      - dropbear-initramfs
      - grub-efi-amd64
      - linux-headers-generic
      - linux-image-generic
      - openssh-server
      - popularity-contest
      - shim-signed
      - systemd-timesyncd
      - uidmap
      - zfs-initramfs
    state: present

- name: Load wireguard kernel module now and at boot
  community.general.modprobe:
    name: wireguard
    persistent: present
    state: present

- name: Upgrade all installed packages
  ansible.builtin.apt:
    name: "*"
    state: latest

- name: Check for the reboot status file
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: nas_reboot_stat

- name: Mount the Disk-On Module (DOM) filesystem
  ansible.builtin.mount:
    boot: false
    fstype: ext2
    path: /boot/mmcblkNp2
    src: /dev/disk/by-id/mmc-004G60_0x1ad48a73-part2
    state: mounted

- name: Find the mtime for the DOM kernel
  ansible.builtin.stat:
    path: /boot/mmcblkNp2/boot/bzImage
  register: nas_dom_kernel_stat

- name: Find the mtime for the DOM initial ramdisk
  ansible.builtin.stat:
    path: /boot/mmcblkNp2/boot/initrd.boot
  register: nas_dom_initrd_stat

- name: Find all of the Debian installed kernels
  ansible.builtin.find:
    paths:
      - /boot
    patterns:
      - 'vmlinuz-*'
  register: nas_debian_kernel_files

- name: Find all of the Debian installed initial ramdisks
  ansible.builtin.find:
    paths:
      - /boot
    patterns:
      - 'initrd.img-*'
  register: nas_debian_initrd_files

- name: Copy the latest Debian kernel into the DOM if needed
  vars:
    nas_debian_latest_kernel: |
      {{ nas_debian_kernel_files.files |
         sort(attribute='mtime') |
         list |
         last }}
  ansible.builtin.copy:
    src: "{{ nas_debian_latest_kernel.path }}"
    dest: "/boot/mmcblkNp2/boot/bzImage"
    mode: "0644"
    remote_src: true
  when: "nas_debian_latest_kernel.mtime > nas_dom_kernel_stat.stat.mtime"
  register: nas_debian_copied_kernel

- name: Copy the latest Debian initial ramdisk into the DOM if needed
  vars:
    nas_debian_latest_initrd: |
      {{ nas_debian_initrd_files.files |
         sort(attribute='mtime') |
         list |
         last }}
  ansible.builtin.copy:
    src: "{{ nas_debian_latest_initrd.path }}"
    dest: "/boot/mmcblkNp2/boot/initrd.boot"
    mode: "0600"
    remote_src: true
  when: "nas_debian_latest_initrd.mtime > nas_dom_initrd_stat.stat.mtime"
  register: nas_debian_copied_initrd

- name: Warn and then reboot if necessary
  block:
    - name: Pause as a reminder to SSH into the dropbear early-user environment
      ansible.builtin.pause:

    - name: Reboot the computer post-upgrade OR if forced
      ansible.builtin.reboot:
        # Wait 30 minutes and then another 30 minutes if needed
        reboot_timeout: 1800

  when: |-
    nas_reboot_stat.stat.exists or
    nas_reboot | default(False) or
    nas_debian_copied_kernel is changed or
    nas_debian_copied_initrd is changed
