---
# Basic Debian tasks, including patching

- name: Update all repositories
  ansible.builtin.apt:
    update_cache: true

- name: Install nonstandard packages
  ansible.builtin.package:
    name:
      - auditd
      - cryptsetup
      - cryptsetup-initramfs
      - dosfstools
      - dpkg-dev
      - dropbear-initramfs
      - grub-efi-amd64
      - linux-headers-generic
      - linux-image-generic
      - openssh-server
      - popularity-contest
      - selinux-basics
      - selinux-policy-default
      - shim-signed
      - systemd-timesyncd
      - tcpdump
    state: present

- name: Load wireguard kernel module now and at boot
  community.general.modprobe:
    name: wireguard
    persistent: present
    state: present

- name: Upgrade all installed packages
  ansible.builtin.apt:
    name: "*"
    state: latest

- name: Check for the reboot status file
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: nas_reboot_stat

- name: Warn and then reboot if necessary
  block:
    - name: Pause as a reminder to SSH into the dropbear early-user environment
      ansible.builtin.pause:

    - name: Reboot the computer post-upgrade OR if forced
      ansible.builtin.reboot:
        # Wait 30 minutes and then another 30 minutes if needed
        reboot_timeout: 1800

  when: "nas_reboot_stat.stat.exists or nas_reboot | default(False)"
