---
# Install Docker on the NAS
# https://docs.docker.com/engine/install/debian/

- name: Add Docker's official repository and GPG key
  ansible.builtin.deb822_repository:
    name: docker
    uris: https://download.docker.com/linux/debian
    signed_by: https://download.docker.com/linux/debian/gpg
    suites: '{{ ansible_distribution_release }}'
    components: stable
    architectures: amd64

- name: Install Docker packages
  ansible.builtin.package:
    name:
     - containerd.io
     - docker-buildx-plugin
     - docker-ce
     - docker-ce-cli
     - docker-ce-rootless-extras
     - docker-compose-plugin
    state: present

# Run rootless
# https://docs.docker.com/engine/security/rootless/

- name: Terminate rootful Docker service
  ansible.builtin.systemd_service:
    name: docker.service
    state: stopped
    enabled: false

- name: Terminate rootful Docker socket
  ansible.builtin.systemd_service:
    name: docker.socket
    state: stopped
    enabled: false
