---
# Install Docker on the NAS
# https://docs.docker.com/engine/install/debian/

- name: Add Docker's official repository and GPG key
  ansible.builtin.deb822_repository:
    name: docker
    uris: https://download.docker.com/linux/debian
    signed_by: https://download.docker.com/linux/debian/gpg
    suites: '{{ ansible_distribution_release }}'
    components: stable
    architectures: amd64

- name: Install Docker packages
  ansible.builtin.package:
    name:
     - containerd.io
     - docker-buildx-plugin
     - docker-ce
     - docker-ce-cli
     - docker-ce-rootless-extras
     - docker-compose-plugin
    state: present

- name: Setup rootful Docker service
  ansible.builtin.systemd_service:
    name: docker.service
    state: started
    enabled: true

- name: Setup rootful Docker socket
  ansible.builtin.systemd_service:
    name: docker.socket
    state: started
    enabled: true

- name: Lay down daemon.json to disable userland proxy
  ansible.builtin.copy:
    src: etc/docker/daemon.json
    dest: /etc/docker/daemon.json
    mode: "0644"
    owner: root
    group: root
  notify: Restart rootful Docker service
