---
# Set up data ZFS filesystem (dpool) for NAS on T310
# Note that the boot (bpool) and root (rpool) filesystems are separate and were
# done using these instructions:
# https://openzfs.github.io/openzfs-docs/Getting%20Started/Debian/Debian%20Bookworm%20Root%20on%20ZFS.html

- name: Set up zpool on the underlying block device
  community.general.zpool:
    filesystem_properties:
      acltype: posixacl
      xattr: sa
      dnodesize: auto
      compression: lz4
    mountpoint: "{{ nas_zfs_mountpoint }}"
    name: dpool
    pool_properties:
      ashift: 12
    vdevs:
      - disks:
          - "{{ nas_zfs_device }}"
