---
# Configure DreamCompute resources

- name: Configure the SSH service host keys
  ansible.builtin.import_tasks: ssh_keys.yml

- name: Configure the Debian guest OS appropriately
  ansible.builtin.import_tasks: debian.yml

- name: Install and set up Pacemaker / Corosync for Floating IP support
  ansible.builtin.include_tasks: pacemaker.yml

- name: Patch the Debian guest OS, interacting with PCS as needed
  ansible.builtin.include_tasks: patch.yml

- name: Configure the Kubernetes and CRI-O packages
  ansible.builtin.import_tasks: k8s_packages.yml

- name: Configure the Kubernetes and CRI-O services
  ansible.builtin.import_tasks: k8s_config.yml
