---
# Configure DreamCompute resources

- name: Configure the SSH service host keys
  ansible.builtin.import_tasks: ssh_keys.yml

- name: Configure the Debian guest OS appropriately
  ansible.builtin.import_tasks: debian.yml

- name: Install and configure OpenVPN to connect back to my router
  ansible.builtin.import_tasks: openvpn.yml

- name: Patch the Debian guest OS
  ansible.builtin.include_tasks: patch.yml

- name: Configure the Kubernetes and CRI-O packages
  ansible.builtin.import_tasks: k8s_packages.yml

- name: Configure the Kubernetes and CRI-O services
  ansible.builtin.import_tasks: k8s_config.yml
