---
# Install and set up Pacemaker / Corosync for Floating IP support

- name: Install control-plane cluster packages
  ansible.builtin.apt:
    name:
      - pacemaker
      - pacemaker-cli-utils
      - pcs
      - python3-keystoneclient
      - python3-novaclient
      - python3-openstackclient

- name: Enable the pcs service
  ansible.builtin.service:
    name: pcsd.service
    enabled: true
    state: started

- name: Set the hacluster user's password for recovery purposes
  ansible.builtin.user:
    name: "hacluster"
    password: "{{ k8s_nodes_hacluster_password_hash }}"

- name: Check whether the cluster nodes can talk to each other yet
  ansible.builtin.stat:
    path: /var/lib/pcsd/known-hosts
  register: k8s_nodes_pcs_known_hosts

# https://serverfault.com/questions/1060604/pcs-creating-cluster-fails-because-of-unknown-hosts
- name: If not yet configured, expressly deconfigure any stub cluster
  ansible.builtin.command: >-
    /usr/sbin/pcs cluster destroy --force
  when: 'not k8s_nodes_pcs_known_hosts.stat.exists'

- name: Authenticate against each remote cluster host
  ansible.builtin.command: >-
    /usr/sbin/pcs host auth
    {{ k8s_nodes_pcs_item }}
    -u hacluster
    -p {{ hostvars[k8s_nodes_pcs_item]["k8s_nodes_hacluster_password_plain"] }}
  loop: "{{ groups['k8s_control_plane'] }}"
  loop_control:
    loop_var: k8s_nodes_pcs_item
  when: 'not k8s_nodes_pcs_known_hosts.stat.exists'

- name: Check whether the corosync cluster was established yet
  ansible.builtin.stat:
    path: /etc/corosync/corosync.conf
  register: k8s_nodes_pcs_corosync_conf

- name: Setup the cluster from the first node (alphabetically)
  ansible.builtin.command: >-
    /usr/sbin/pcs cluster setup
    kube-control-plane-cluster
    {{ groups["k8s_control_plane"] | join(" ") }}
  when:
    - 'not k8s_nodes_pcs_corosync_conf.stat.exists'
    - >-
      inventory_hostname ==
      (groups["k8s_control_plane"] |
       sort |
       first)

# As recommended here, don't _enable_ services, just _start_ them from Ansible:
# https://clusterlabs.org/projects/pacemaker/doc/3.0/Clusters_from_Scratch/html/verification.html
- name: Start up the corosync service
  ansible.builtin.service:
    name: corosync.service
    enabled: false
    state: started

- name: Start up the pacemaker service
  ansible.builtin.service:
    name: pacemaker.service
    enabled: false
    state: started
