#
# Bacula Storage Daemon Configuration file
#

Storage {
  Name = {{ nas_bacula_sd_fqdn }}
  SDPort = 9103
  WorkingDirectory = "/opt/bacula/working"
  Pid Directory = "/opt/bacula/working"
  Plugin Directory = "/opt/bacula/plugins"
  Maximum Concurrent Jobs = 20

  # TLS configuration directives
  TLS Enable = yes
  TLS Require = yes
  TLS Certificate = /opt/bacula/etc/certs/{{ nas_bacula_sd_fqdn }}.pem
  TLS Key = /opt/bacula/etc/certs/{{ nas_bacula_sd_fqdn }}.key
  # Peer certificate is not required/requested -- peer validity
  # is verified by the storage connection cookie provided to the
  # File Daemon by the director.
  TLS Verify Peer = no
  TLS CA Certificate File = /opt/bacula/etc/certs/root_intermediate.pem
}

#
# List Directors who are permitted to contact Storage daemon
#
Director {
  Name = {{ nas_bacula_dir_fqdn }}
  Password = "{{ nas_bacula_dir_sd_password }}"

  # TLS configuration directives
  TLS Enable = yes
  TLS Require = yes
  TLS Certificate = /opt/bacula/etc/certs/{{ nas_bacula_sd_fqdn }}.pem
  TLS Key = /opt/bacula/etc/certs/{{ nas_bacula_sd_fqdn }}.key
  TLS Verify Peer = yes
  TLS Allowed CN = {{ nas_bacula_dir_fqdn }}
  TLS CA Certificate File = /opt/bacula/etc/certs/root_intermediate.pem
}

Device {
  Name = FileChgr1-Dev1
  Media Type = File1
  Archive Device = /opt/bacula/archive
  LabelMedia = yes
  Random Access = Yes
  AutomaticMount = yes
  RemovableMedia = no
  AlwaysOpen = no
  Maximum Concurrent Jobs = 5
}

#
# Send all messages to the Director,
# mount messages also are sent to the email address
#
Messages {
  Name = Standard
  director = {{ nas_bacula_dir_fqdn }} = all
}
