#
# Bacula Storage Daemon Configuration file
#
#  For Bacula release 13.0.4 (12 February 2024) -- debian 12.0
#
# Copyright (C) 2000-2022 Kern Sibbald
# License: BSD 2-Clause; see file LICENSE-FOSS
#

Storage {
  Name = {{ nas_bacula_fqdn }}-sd
  SDPort = 9103
  WorkingDirectory = "/opt/bacula/working"
  Pid Directory = "/opt/bacula/working"
  Plugin Directory = "/opt/bacula/plugins"
  Maximum Concurrent Jobs = 20

  # TLS configuration directives
  TLS Enable = yes
  TLS Require = yes
  TLS Certificate = /mnt/letsencrypt/live/{{ nas_bacula_letsencrypt_fqdn | default(nas_bacula_fqdn) }}/fullchain.pem
  TLS Key = /mnt/letsencrypt/live/{{ nas_bacula_letsencrypt_fqdn | default(nas_bacula_fqdn) }}/privkey.pem
  TLS Verify Peer = no
}

#
# List Directors who are permitted to contact Storage daemon
#
Director {
  Name = {{ nas_bacula_fqdn }}-dir
  Password = "{{ nas_bacula_dir_sd_password }}"

  # TLS configuration directives
  TLS Enable = yes
  TLS Require = yes
  TLS Certificate = /mnt/letsencrypt/live/{{ nas_bacula_letsencrypt_fqdn | default(nas_bacula_fqdn) }}/fullchain.pem
  TLS Key = /mnt/letsencrypt/live/{{ nas_bacula_letsencrypt_fqdn | default(nas_bacula_fqdn) }}/privkey.pem
  TLS Verify Peer = no
}

Device {
  Name = FileChgr1-Dev1
  Media Type = File1
  Archive Device = /opt/bacula/archive
  LabelMedia = yes
  Random Access = Yes
  AutomaticMount = yes
  RemovableMedia = no
  AlwaysOpen = no
  Maximum Concurrent Jobs = 5
}

#
# Send all messages to the Director,
# mount messages also are sent to the email address
#
Messages {
  Name = Standard
  director = {{ nas_bacula_fqdn }}-dir = all
}
